/*.first-step {*/
/*    transition: width 1s, height 1s;*/
/*}*/

.search-city-item:hover {
    background-color: #fff3cd;
}

.apart-floor {
    width: 150px;
}

.elevator {
    padding-left: 5px;
    padding-top: 5px;
}

.rent-header {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.type-apartment {
    background-color: #fff3cd;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    height: 100px;
    cursor: pointer;
}

.footer-type-apartment {
    padding: 0;
    margin: 5px;
    text-align: justify;
    line-height: 10px;
}

.footer-type-apartment span {
    color: #20c997;
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.type-apartment p {
    padding: 20px 10px 0 10px;
    margin: 0;
    font-size: 16px;
}

.type-apartment p.inf {
    color: #8c8c8c;
    padding: 0 10px 0 10px;
    font-size: 14px;
    margin: 0;
}

.rent-row {
    margin: 0 auto;
}

.container-rent {
    padding-left: 100px;
    padding-right: 100px;
    display: inline-block;
}

.apart-type-block {
    background-color: #fff3cd;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    height: 50px;
    cursor: pointer;
}

.my-radio-block {
    padding: 10px 5px;
    margin-top: 5px;
}

.my-radio-block input {
    margin-right: 5px;
    cursor: pointer;
}

.rent-city-block {
    padding-top: 15px;
}

.rent-city-block .input-city {
    text-align: center;
    align-items: center;
}

.rent-city-block .input-city input {
    width: 350px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.rent-city-block .input-city span {
    padding-right: 10px;
}

.btn-next {
    text-align: center;
    background-color: #ffefef;
    margin: 15px auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.address-block {
    padding-top: 20px;
    text-align: center;
    /*padding-left: 50px;*/
}

.address-block-form {
    padding-left: 70px;
}

.btn-secondary {
    margin: 0 25px;
}

.form-label {
    display: flex;
}

.form-select {
    width: 400px;
}

.load-apart-photo {
    text-align: center;
    padding-top: 25px;
}

.input-group {
    width: 400px;
}

.input-group-count-room, .input-group-count-sleeping_places {
    width: 150px;
    text-align: center;
}

.input-group-count-room input {
    text-align: center;
}

.input-group-count-sleeping_places input {
    text-align: center;
}

.input-group-count-room span {
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
}

.input-group-count-sleeping_places span {
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
}