.header-info {
    text-align: center;
    vertical-align: middle;
    padding-top: 30px;
    border: none;
}

.alert-block {
    border: none;
}

.img-head-info {
    display: block;
    margin: 0 auto;
    padding-bottom: 15px;
    position: relative;
    max-height: 35%;
    max-width: 35%;
}