/*.city-search {*/
/*    padding: 5px 0;*/
/*    width: 100%;*/
/*    max-width: 410px;*/
/*}*/

.input-wrapper {
    background: #fff;
    border-radius: 10px 0 0 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
    justify-content: center;
    padding-left: 26px;
    transition: background-color .2s;
    width: 100%;
}

.input-wrapper-guests {
    user-select: none;
    padding-left: 20px;
    background: #fff;
    color: #0e1e02;
    cursor: pointer;
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
    justify-content: center;
    transition: background-color .2s;
    width: 200px;
}

.guests {
    text-align: left;
    width: 200px;
}

.price {
    padding: 10px 20px;
    font-style: italic;
    font-size: 16px;

}

.row > .guests {
    padding-left: 0;
}

.guests span {
    padding-left: 10px;
}

.guests label {
    padding-left: 10px;
}

.input-wrapper input {
    background: inherit;
    border: none;
    color: #0e1e02;
    font-size: 16px;
    font-weight: 500;
    height: 20px;
    line-height: 20px;
    padding: 5px 0;
    margin: 5px 0;
    transition: height .2s;
    width: 100%;
}

.input-wrapper {
    text-align: left;
}

.input-wrapper input:focus {
    background-color: snow;
    border: none;
}

.search-result-normal {
    background-color: #fcfcfd;
    visibility: hidden;
    text-align: left;
}

.col-3-change {
    padding-right: 1px;
}

.data-wrapper {
    width: 260px;
    align-items: normal;
    padding-left: 0;
    padding-right: 1px;
    background-color: snow;
}

.row-data {
    display: flex;
    height: 100%;
    width: 260px;
}

.data-field {
    text-align: left;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding: 0 12px;
    /*border-right: #0e1e02 solid 1px;*/
    position: relative;
    background-color: #fcfcfd;
    transition: background-color .2s;
    white-space: nowrap;
    width: 150px;
    z-index: 122;
}

.date-picker-style {
    cursor: pointer;
    border: none;
    z-index: 111;
    outline: none;
    width: 120px;
}

.search-result-focused {
    margin-top: 5px;
    background-color: #fcfcfd;
    visibility: visible;
    text-align: left;
    color: #0e1e02;
}

.search-result-focused ul {
    list-style-image: url('track.png');
    padding-top: 10px;
    margin-bottom: 10px;
}

.search-result-focused ul li span {
    position: relative;
    top: -7px;
    cursor: pointer;
}

.apart-filter-panel {
    padding-top: 25px;
    width: 70%;
    margin: 0 auto;
}

.apart-filter-panel label {
    color: #93a1a1;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 16px;
    margin: 0;
    pointer-events: none;
    transition: all .15s;
}

.city-search {
    outline: none;
}

.fa-search-block .fa-search {
    margin-top: 5px;
    color: snow;
}

.fa-search-block {
    border-radius: 0 10px 10px 0;
    background-color: snow;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
}

.search-button label {
    font-size: 16px;
    padding-right: 5px;
    color: #ffefef;
}

.search-button {
    background-color: #b92c28;
    cursor: pointer;
    border-radius: 30px;
    padding: 5px;
}