.city-search {
    max-width: 450px;
}

.datatimePicker {
    color: #fcfcfd;
}

.search-result-normal {
    background-color: #fcfcfd;
    visibility: hidden;
    text-align: left;
}

.search-result-focused {
    background-color: #fcfcfd;
    visibility: visible;
    text-align: left;
    color: #0e1e02;
}

.search-result-focused ul {
    list-style-image: url('track.png');
    padding-top: 10px;
    margin-bottom: 10px;
}

.search-result-focused ul li span {
    position: relative;
    top: -7px;
    cursor: pointer;
}

.apart-filter-panel {
    padding-top: 25px;
    width: 70%;
    margin: 0 auto;
}