.main-container {
    height: 230px;
    width: 300px;
    padding: 0;
    margin: 0;
    position: relative;
    left: -17px;
    display: flex;
    align-items: center;
}

.window {
    border-top-left-radius: 2%;
    border-bottom-left-radius: 2%;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.all-pages-container {
    /*height: 100%;*/
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    transition: translate;
    transition-property: transform;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}

.arrow {
    cursor: pointer;
    position: relative;
    z-index: 999;
    background-color: #fff3cd;
    height: 30px;
    width: 20px;
    opacity: .7;
    border-radius: 50%;
}

.main-image {
    position: relative;
    display: flex;
    z-index: 888;
    align-items: center;
}

.arrow-left {
    left: 23px;

}

.arrow-right {
    left: -23px;
}